.about
  color white
  background #000

  .btn
    background rgba(255,255,255,0.3)
    width 200px
    height 50px
    color #FFF
    font-size 20px 
    border 5px solid #fff
    cursor pointer
    font 150% Futura-Medium, Futura, sans-serif
    text-align center
    position absolute
    text-decoration none
    text-transform uppercase
    left 50%
    top 50%
    margin-left -100px
    margin-top -25px
    span
      line-height 40px
