<p>
			<span id="fog">A long</span>
			<span id="fog-2">long time</span>
			<span id="glow">ago,</span>
			<span id="light">in a</span>
			<span id="stars">galaxy</span>
			<span id="stars-2">far</span>
			<span id="small-stars">far</span>
			<span id="small-stars-2">away…</span>
		</p>

<a href="#!/about" class="btn about">
	<svg width="200" height="50">
		<line class="top" x1="0" y1="0" x2="600" y2="0"/>
		<line class="left" x1="0" y1="200" x2="0" y2="-400"/>
		<line class="bottom" x1="200" y1="50" x2="-400" y2="50"/>
		<line class="right" x1="200" y1="0" x2="200" y2="600"/>
	</svg>
	<span>About</span>
</a>